footer {
  background-color: #101010;
/*  font-size: 12px bold; */
  text-decoration: none;
  color: white;
  width: auto;
/*  height: 44px; */
}

.footer-fixed-bottom {
  content: "";
  border-top: 4px solid;
  border-bottom: 0;
  top: 100%;
  bottom: auto;
  margin-top: 2px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px bold;
  height: 38px;
  max-height: 800px;
}

 .footer-right {
    float: right !important;
  }
  
.navbar-brand {
  color: white;
  font: helvetica;
}
.jumbotron {
  position: relative;
  background-color: #fff;
  max-width: 80%;
  height: 325px;
  margin: auto;
  padding-bottom: 0px;
}
.jumbotron img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}
#location img {
  border: 1px solid #101010;
}
.info {
  position: relative;
}
.container h2 {
  font-size: 24px;
  text-align: center;
}
.container h3 {
  font-size: 13px;
  text-align: center;
  font-weight: bold;  
}
#ourhome {
  width: 85%;
}
#location {
  width: 15%
}
h3 {
  font-size: 10px;
  text-align: center;
}

li {
  font-size: 10px;
}

a.locked {
  pointer-events: none;
  cursor: default;
  border: invisible;
}

.btn-default {
  border-color: #fff;
  font-size: 13px;
  vertical-align: center;
  margin: 0px;
}

.col-md-5 {
  width: 20%;
}
.col-md-5 h2 {
  font-size: 20px;
  text-align: left;
}
.col-md-2{
  padding-top: 10px;
  width: auto;
}
.col-md-2 h3 {
  text-align: left;
}
.rotating-item {
  display: none;
  position: absolute;
  top: 0px;
  vertical-align: center;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dropdown {
  position: relative;
}

#president {
	min-height: 450px;
	margin-top: 100px;
}
@media (max-width: 991px) {
	.container h2 {
		font-size: 12px bold;}
	.container p {
		font-size: 12px;}
	.navbar-brand {
		font-size: 14px;}
	.footer-fixed-bottom {
		font-size: 10px bold;
		height: 38px;}
}
@media (max-width: 800px) {
	.container h2 {
		font-size: 12px bold;}
	.container p {
		font-size: 12px;}
	.navbar-brand {
		font-size: 14px;}
	.footer-fixed-bottom {
		font-size: 10px bold;
		height: 60px;}

}
@media (max-device-width: 480px) {
	.container h2 {
		font-size: 12px;}
	.container p {
		font-size: 10px;}
	.navbar-brand{
		font-size: 12px;}
	.jumbotron {
		display: none;}
	.footer-fixed-bottom {
		font-size: 8px bold;
		height: 340px;}
<<<<<<< HEAD
=======
}
@media (max-device-width: 380px) {
	.container h2 {
		font-size: 10px;}
	.container p {
		font-size: 8px;}
	.navbar-brand{
		font-size: 10px;}
	.jumbotron {
		display: none;}
	.footer-fixed-bottom {
		font-size: 8px bold;
		height: 800px;}
>>>>>>> origin/gh-pages
}
@media (max-device-width: 380px) {
	.container h2 {
		font-size: 10px;}
	.container p {
		font-size: 8px;}
	.navbar-brand{
		font-size: 10px;}
	.jumbotron {
		display: none;}
	.footer-fixed-bottom {
		font-size: 8px bold;
		height: 800px;}
}
